<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harin.estatedealer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/estatedealer_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/estatedealer_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".account.LoginActivity" />

        <activity android:name=".account.ss" />
        <activity android:name=".account.RegisterActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>


    </application>

</manifest>